<h1>Listing media</h1>

<table class="table">
  <tr>
    <th>name</th>
    <th>author</th>
    <th>yanbo</th>
    <th>jishu</th>
    <th>time</th>
    <th>category</th>
    <th>updatetime</th>
    <th>description</th>
    <th>Url</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @media.each do |medium| %>
  <tr>
    <td><%= medium.name %></td>
    <td><%= medium.author %></td>
    <td><%= medium.yanbo %></td>
    <td><%= medium.jishu %></td>
    <td><%= medium.time %></td>
    <td><%= medium.category %></td>
    <td><%= medium.updatetime %></td>
    <td><%= medium.description %></td>
    <td><%= medium.url %></td>
    <td><%= medium.type %></td>
    <td><%= link_to 'Show', medium %></td>
    <td><%= link_to 'Edit', edit_medium_path(medium) %></td>
    <td><%= link_to 'Destroy', medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Medium', new_medium_path %>
