<form action="/media" method="get" accept-charset="utf-8">
   <input type="text" name="term" id="" value="" />
  <input type="submit" value="search" />
</form>
<a href="/media/new" class="button" >new</a>
<table class="table">
  <% @media.each do |medium| %>
    <tr>
    <td>
      <img src="<%= medium.mtype %>" alt="" />
    </td>
    <td><%= medium.name %></td>
    <td><%= medium.author %></td>
    <td><%= medium.yanbo %></td>
    <td><%= medium.jishu %></td>
    <td><%= medium.time %></td>
    <td><%= medium.category %></td>
    <td><%= medium.updatetime %></td>
    <td><%= medium.description %></td>
    <td>mp3 count:<%= medium.mfiles.count %></td>
    <td><a href="<%= medium.url %>">orginal</a></td>
    <td>
      <%= link_to 'Show', medium %>
      <%= link_to 'Edit', edit_medium_path(medium) %>
      <%= link_to 'Destroy', medium, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>

<% end %>
</table>
<%= paginate @media %>

