<%= link_to 'New Medium', new_medium_path %>
<% @media.each do |medium| %>
  <div class="span4">
  <h3><%= medium.name %></h3>
  <p><%= medium.author %></p>
  <p><%= medium.yanbo %></p>
  <p><%= medium.jishu %></p>
  <p><%= medium.time %></p>
  <p><%= medium.category %></p>
  <p><%= medium.updatetime %></p>
  <p><%= medium.description %></p>
  <p><%= medium.url %></p>
  <p><%= medium.mtype %></p>
  <p>
  <%= link_to 'Show', medium %>
  <%= link_to 'Edit', edit_medium_path(medium) %>
  <%= link_to 'Destroy', medium, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
</div>
<div class="span4">
  <% medium.mfiles.each do |mfile| %>
    <p>
      <%= mfile.name %>
      <%= mfile.time %>
      <%= mfile.url %>
      <%= link_to 'Show', mfile %>
      <%= link_to 'Edit', edit_mfile_path(mfile) %>
      <%= link_to 'Destroy', mfile, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
</div>
<% end %>
<%= paginate @media %>

