<p id="notice"><%= notice %></p>
<p>
  <img src="<%= @medium.mtype %>" alt="" />
</p>
<p>
  <b>Name:</b>
  <%= @medium.name %>
</p>
<p>
  <b>Author:</b>
  <%= @medium.author %>
</p>
<p>
  <b>yanbo</b>
  <%= @medium.yanbo %>
</p>
<p>
  <b>jishu</b>
  <%= @medium.jishu %>
</p>
<p>
  <b>time</b>
  <%= @medium.time %>
</p>
<p>
  <b>description</b>
  <%= @medium.description %>
</p>
<p>
  <b>Url:</b>
  <%= @medium.url %>
</p>

<p>
  <b>Type:</b>
  <%= @medium.mtype %>
</p>

      <table class="table">
        <% @medium.mfiles.each do |mfile| %>
          <tr>
          <td><%= raw mfile.name %></td>
          <td><%= mfile.time %></td>
          <td><%= mfile.url %></td>
          <td> <%= link_to 'Show', mfile %>
          <%= link_to 'Edit', edit_mfile_path(mfile) %>
            <%= link_to 'Destroy', mfile, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
      </table>
<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
