<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @medium.name %>
</p>
<p>
  <b>Author:</b>
  <%= @medium.author %>
</p>
<p>
  <b>yanbo</b>
  <%= @medium.yanbo %>
</p>
<p>
  <b>jishu</b>
  <%= @medium.jishu %>
</p>
<p>
  <b>time</b>
  <%= @medium.time %>
</p>
<p>
  <b>description</b>
  <%= @medium.description %>
</p>
<p>
  <b>Url:</b>
  <%= @medium.url %>
</p>

<p>
  <b>Type:</b>
  <%= @medium.mtype %>
</p>


<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
