<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @medium.url %>
</p>

<p>
  <b>Type:</b>
  <%= @medium.type %>
</p>


<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
